<footer id="apple-first" class="apple-main-wrap">
	<div class="apple-wrap">
		<nav id="apple-accordion" class="apple-top-wrap">
			<div class="apple-item">
				<h3>Shop and Learn</h3>
				<ul>
					<li><a href="#">Mac</a></li>
					<li><a href="#">iPad</a></li>
					<li><a href="#">iPhone</a></li>
					<li><a href="#">Watch</a></li>
					<li><a href="#">TV</a></li>
					<li><a href="#">Music</a></li>
					<li><a href="#">iTunes</a></li>
					<li><a href="#">iPod</a></li>
					<li><a href="#">Assessories</a></li>
					<li><a href="#">Gift Cards</a></li>
				</ul>
			</div>

			<div class="apple-item">
				<h3>Apple Store</h3>
				<ul>
					<li><a href="#">Find a Store</a></li>
					<li><a href="#">Genius Bar</a></li>
					<li><a href="#">Workshops and Learning</a></li>
					<li><a href="#">Youth Programs</a></li>
					<li><a href="#">Apple Store App</a></li>
					<li><a href="#">Refurbished</a></li>
					<li><a href="#">Financing</a></li>
					<li><a href="#">Reuse and Recycling</a></li>
					<li><a href="#">Order Status</a></li>
					<li><a href="#">Shopping Help</a></li>
				</ul>
			</div>

			<div class="apple-item">
				<h3>For Education</h3>
				<ul>
					<li><a href="#">Apple and Education</a></li>
					<li><a href="#">Shop for College</a></li>
				</ul>
				<h3 class="header-pad">For Business</h3>
				<ul>
					<li><a href="#">Apple and Business</a></li>
					<li><a href="#">Shop for Business</a></li>
				</ul>
			</div>

			<div class="apple-item">
				<h3>Account</h3>
				<ul>
					<li><a href="#">Manage Your Apple ID</a></li>
					<li><a href="#">Apple Store Account</a></li>
					<li><a href="#">iCloud.com</a></li>
				</ul>
				<h3 class="header-pad">Apple Values</h3>
				<ul>
					<li><a href="#">Accessibility</a></li>
					<li><a href="#">Education</a></li>
					<li><a href="#">Enviroment</a></li>
					<li><a href="#">Inclusion and Diversity</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Supplier Responsibility</a></li>
				</ul>
			</div>

			<div class="apple-item">
				<h3>About Apple</h3>
				<ul>
					<li><a href="#">Apple Info</a></li>
					<li><a href="#">Newsroom</a></li>
					<li><a href="#">Job Opportunities</a></li>
					<li><a href="#">Press Info</a></li>
					<li><a href="#">Investors</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Contact Apple</a></li>
				</ul>
			</div>
		</nav>

		<div class="apple-bottom-wrap">
			<div class="apple-footer-shop">
				More ways to shop: Visit an 
				<a href="#">Apple Store</a>
				call 1-800-MY-APPLE, or 
				<a href="#">find a reseller</a>.
			</div>
			<p class="apple-copyright">Copyright © 2016 Apple Inc. All rights reserved.</p>
			<div class="apple-bottom-nav">
				<ul>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Sales and Refunds</a></li>
					<li><a href="#">Legal</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>
			<div class="apple-us-ico">
				<a href="#">United States</a>
			</div>

		</div>
	</div>
</footer>

<footer id="apple-second" class="apple-main-wrap">
	<div class="apple-wrap">
		<nav class="apple-top-wrap">
			<div class="apple-item">
				<h3>Shop and Learn</h3>
				<ul>
					<li><a href="#">Mac</a></li>
					<li><a href="#">iPad</a></li>
					<li><a href="#">iPhone</a></li>
					<li><a href="#">Watch</a></li>
					<li><a href="#">TV</a></li>
					<li><a href="#">Music</a></li>
					<li><a href="#">iTunes</a></li>
					<li><a href="#">iPod</a></li>
					<li><a href="#">Assessories</a></li>
					<li><a href="#">Gift Cards</a></li>
				</ul>
			</div>

			<div class="apple-item">
				<h3>Apple Store</h3>
				<ul>
					<li><a href="#">Find a Store</a></li>
					<li><a href="#">Genius Bar</a></li>
					<li><a href="#">Workshops and Learning</a></li>
					<li><a href="#">Youth Programs</a></li>
					<li><a href="#">Apple Store App</a></li>
					<li><a href="#">Refurbished</a></li>
					<li><a href="#">Financing</a></li>
					<li><a href="#">Reuse and Recycling</a></li>
					<li><a href="#">Order Status</a></li>
					<li><a href="#">Shopping Help</a></li>
				</ul>
			</div>

			<div class="apple-item">
				<h3>For Education</h3>
				<ul>
					<li><a href="#">Apple and Education</a></li>
					<li><a href="#">Shop for College</a></li>
				</ul>
				<h3 class="header-pad">For Business</h3>
				<ul>
					<li><a href="#">Apple and Business</a></li>
					<li><a href="#">Shop for Business</a></li>
				</ul>
			</div>

			<div class="apple-item">
				<h3>Account</h3>
				<ul>
					<li><a href="#">Manage Your Apple ID</a></li>
					<li><a href="#">Apple Store Account</a></li>
					<li><a href="#">iCloud.com</a></li>
				</ul>
				<h3 class="header-pad">Apple Values</h3>
				<ul>
					<li><a href="#">Accessibility</a></li>
					<li><a href="#">Education</a></li>
					<li><a href="#">Enviroment</a></li>
					<li><a href="#">Inclusion and Diversity</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Supplier Responsibility</a></li>
				</ul>
			</div>

			<div class="apple-item">
				<h3>About Apple</h3>
				<ul>
					<li><a href="#">Apple Info</a></li>
					<li><a href="#">Newsroom</a></li>
					<li><a href="#">Job Opportunities</a></li>
					<li><a href="#">Press Info</a></li>
					<li><a href="#">Investors</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Contact Apple</a></li>
				</ul>
			</div>
		</nav>

		<div class="apple-bottom-wrap">
			<div class="apple-footer-shop">
				More ways to shop: Visit an 
				<a href="#">Apple Store</a>
				call 1-800-MY-APPLE, or 
				<a href="#">find a reseller</a>.
			</div>
			<p class="apple-copyright">Copyright © 2016 Apple Inc. All rights reserved.</p>
			<div class="apple-bottom-nav">
				<ul>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Sales and Refunds</a></li>
					<li><a href="#">Legal</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>
			<div class="apple-us-ico">
				<a href="#">United States</a>
			</div>

		</div>
	</div>
</footer>


