<section class="dropbox-wrap">
	<div class="dropbox-text-wrap">
		<h1 class="dropbox-main-header">
			Безопасный доступ, синхронизация и совместная работа
		</h1>
		<h2 class="dropbox-sec-header">
			Хранение и безопасный доступ к данным — аккаунты Dropbox Business пользуются доверием у системных администраторов и нравятся пользователям.
		</h2>
		<div class="dropbox-buttons-wrap">
			<a href="#" class="dropbox-btn">
				Попробуйте бесплатную 30-дневную ознакомительную версию
			</a>
			<span class="dropbox-link-wrap">
				или 
				<a href="#" class="dropbox-link">
					купите прямо сейчас
				</a>
			</span>
		</div>
	</div>
</section>