<header class="microsoft-main-wrap">
	<div class="microsoft-wrap">
		<div class="microsoft-left-side">
			<a href="#">
				<div class="microsoft-logo-wrap">
					<img src="img/microsoft-logo.png">
				</div>
			</a>
			<nav class="microsoft-nav-wrap">
				<ul>
					<li>
						<a href="#">Store
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#">Products
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
					</li>
					<li><a href="#">Support</a></li>
				</ul>
			</nav>
		</div>
		<div class="microsoft-right-side">
			<form method="GET">
				<input type="search" name="search" placeholder="Search Microsoft.com">
				<button type="submit">
					<i class="fa fa-neuter" aria-hidden="true"></i>
				</button>
			</form>
			<div class="microsoft-cart">
				<a href="#">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i> 0
				</a>
			</div>
			<div class="microsoft-signin">
				<a href="#">
					Sign in
				</a>
			</div>
		</div>
	</div>
</header>