<header class="ms-main-wrap">
	<div class="ms-wrap">
		<div class="ms-left-side">
			<a href="#">
				<div class="ms-logo-wrap">
					<img src="img/ms-logo.png">
				</div>
			</a>
			<nav class="ms-nav-wrap">
				<ul>
					<li>
						<a href="#" id="ms-store-btn" class="ms-btn">Store
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
						<nav id="ms-store-drop" class="ms-dropdown-wrap">
							<ul class="ms-dropdown">
								<li><a href="#" style="cursor: pointer;">Store home</a></li>
								<li><a href="#">Devices<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Software<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Apps<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Games<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Entertainment<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Business & Education<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Sale<i class="fa fa-angle-right"></i></a></li>


								<div class="ms-dropdown-sec">
									<a href="#" class="ms-dropdown-sec-item"></a>
									<a href="#" class="ms-dropdown-sec-item"></a>
									<a href="#" class="ms-dropdown-sec-item"></a>
									<a href="#" class="ms-dropdown-sec-item"></a>
									<a href="#" class="ms-dropdown-sec-item"></a>
									<a href="#" class="ms-dropdown-sec-item"></a>
								</div>
							</ul>
						</nav>
					</li>
					<li>
						<a href="#" id="ms-products-btn" class="ms-btn">Products
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
						<nav id="ms-products-drop" class="ms-dropdown-wrap">
							<ul class="ms-dropdown">
								<li><a href="#">Store home</a></li>
								<li>
									<a href="#">Devices<i class="fa fa-angle-right"></i></a>
									
								</li>
								<li><a href="#">Software<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Apps<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Games<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Entertainment<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Business & Education<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Sale<i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Find a store</a></li>
								<li><a href="#">Gift cards</a></li>

								<div class="ms-dropdown-sec">

								</div>
							</ul>
						</nav>
					</li>
					<li><a href="#">Support</a></li>
				</ul>
			</nav>
		</div>
		<div class="ms-right-side">
			<form method="GET">
				<input type="search" name="search" placeholder="Search ms.com">
				<button type="submit">
					<i class="fa fa-neuter" aria-hidden="true"></i>
				</button>
			</form>
			<div class="ms-cart">
				<a href="#">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i> 0
				</a>
			</div>
			<div class="ms-signin">
				<a href="#">
					Sign in
				</a>
			</div>
		</div>
	</div>
</header>