<section class="oculus-main-wrap">
	<div class="oculus-wrap">
		<div class="oculus-item">
			<a href="#">
				<div class="oculus-image-wrap" style="background-image: url(img/eve-valkyrie.jpg)"></div>
				<div class="oculus-text-wrap">
					<h4>FEATURED CONTENT</h4>
					<h3>EVE: Valkyrie</h3>
				</div>
			</a>
		</div>
		<div class="oculus-item">
			<a href="#">
				<div class="oculus-image-wrap" style="background-image: url(img/luckys-tale.jpg)"></div>
				<div class="oculus-text-wrap">
					<h4>INCLUDED WITH ALL RIFT PURCHASES</h4>
					<h3>Lucky's Tale</h3>
				</div>
			</a>
		</div>
		<div class="oculus-item">
			<a href="#">
				<div class="oculus-image-wrap" style="background-image: url(img/oc3-stage-image.jpg)"></div>
				<div class="oculus-text-wrap">
					<h4>FEATURED STORY</h4>
					<h3>Announcing Oculus Connect 3 and Rift Availability Update</h3>
				</div>
			</a>
		</div>
	</div>
</section>