.links-general {
	color: #2F2F2F;
	text-decoration: none;
	transition: all 0.5s ease;
}

.cart-links {
	display: block;
	line-height: 48px;
	padding: 0 12px;
	font-size: 12px;
}

.active {
	display: block !important;
}

.ms-main-wrap {
	min-width: 320px;
	background: #fff;
	font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;

	.ms-wrap {
		width: 100%;
		margin: 0 auto;
		
		max-width: 1600px;
		transition: all 1s ease;
		box-sizing: border-box;

		.ms-left-side {
			width: 50%;
			float: left;
			
			a {
				
				.ms-logo-wrap {
					width: 100px;
					float: left;
					margin-top: 13px;
					box-sizing: border-box;
					
					img {
						width: 100%;
					}
				}
			}

			.ms-nav-wrap {
				float: left;
				margin-left: 18px;

				> ul {
					list-style-type: none;

					> li {
						position: relative;
						float: left;
						
						> a {
							display: block;
							padding: 0 1.5em;
							line-height: 48px;
							.links-general;

							&:hover, &:focus {
								background-color: #f2f2f2;
							}

							i.fa-angle-down {
								font-size: 12px;
							}
						}

						.ms-dropdown-wrap {
							display: none;
							position: absolute;
							z-index: 10;
							width: 239px;
							background-color: #f2f2f2;
							border-left: 1px solid rgba(0,0,0,0.05);
							border-bottom: 1px solid rgba(0,0,0,0.3);
							border-right: 1px solid rgba(0,0,0,0.1);

							.ms-dropdown {
								list-style-type: none;

								li {
									position: relative;
									
									&:first-child:hover {
										text-decoration: underline;
									}
								}

								a {
									display: block;
									padding: 17px 24px;
									.links-general;
									line-height: 20px;

									&:hover {
										background-color: #e5e5e5;
										transition: background-color 0s;
										cursor: default;
									}

									> i.fa-angle-right {
										float: right;
										font-size: 12px;
										margin-top: 5px;
									}
								}
								

								.ms-dropdown-sec {
									display: none;
									position: absolute;
									top: 0;
									left: 100%;
									width: 300px;
									height: 100%;
									border-bottom: 1px solid rgba(0,0,0,0.3);
									border-right: 1px solid rgba(0,0,0,0.1);
									background-color: #e5e5e5;

									.ms-dropdown-sec-item:hover {
										background-color: #d9d9d9;
										text-decoration: underline;
										cursor: pointer;
									}
								}


							}
						}
					}
				}
			}
		}

		.ms-form-wrap {
			float: right;
			clear: none;
			padding: 0;
			background-color: transparent;
			

			form {
				float: right;
				overflow: hidden;
				margin: 7px 5px 0 0;

				.ms-inner-form-wrap {


					input[type="search"] {
						float: right;
						width: 244px;
						height: 36px;
						padding: 0 10px;
						border: 1px solid #A9A9A9;
						border-right: 0;
						outline: none;
						font-family: "Segoe UI","wf_segoe-ui_normal","Arial", sans-serif;
						font-size: 14px;

						&::-webkit-search-cancel-button {
							display: none;
						}

						&::-webkit-input-placeholder {
							color: #000;
						}

						&:-moz-placeholder {
							color: #000;
						}

						&::-moz-placeholder {
							color: #000;
						}

						&:-ms-input-placeholder {
							color: #000;
						}
					}

					button[type="submit"] {
						float: right;
						background-color: transparent;
						border: 1px solid #A9A9A9;
						border-left: none;
						width: 33px;
						height: 36px;		
						outline: none;
						color: #999;
						cursor: pointer;
						font-size: 20px;

						&:hover {
							color: #0078D7;
						}

						i.fa-neuter {
							margin-top: 5px;
							transform: rotate(45deg);
						}
					}

				}

			}
		}

		.ms-cart {
			float: right;

			a {
				.links-general;
				.cart-links;

				&:hover {
					background-color: #f2f2f2;
				}

				i.fa-shopping-cart {
					font-size: 20px;
				}
			}
		}

		.ms-signin {
			float: right;

			a {
				.links-general;
				.cart-links;

				&:hover {
					background-color: #f2f2f2;
				}
			}
		}

		


		.ms-hidden-search {
			float: right;
			display: none;


			> button[type="button"] {
				display: none;
				border: 1px solid #A9A9A9;
				height: 48px;
				line-height: 48px;
				width: 44px;		
				outline: none;
				border: none;
				color: #999;
				cursor: pointer;
				font-size: 20px;
				padding: 0 5px;
				font-size: 25px;
			}

			.ms-search-min {
				float: left;
				list-style-type: none;
				display: none;

				> li {
					float: left;
					height: 48px;
					line-height: 48px;

					> button[type="button"] {
						border: 1px solid #A9A9A9;
						height: 48px;
						line-height: 48px;
						width: 44px;		
						outline: none;
						border: none;
						color: #999;
						cursor: pointer;
						font-size: 20px;
						padding: 0 5px;
						font-size: 25px;

						i.fa-neuter {
							margin-top: 5px;
							transform: rotate(45deg);
						}

					}

					> a {
						.links-general;
						.cart-links;

						&:hover {
							background-color: #f2f2f2;
						}

						i.fa-shopping-cart {
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}

